

    <div class="wrapper mt-sm-5 bg-white " >
        <div class="progresses py-4 border-grey">
        <ul class="d-flex align-items-center justify-content-between">
            <li id="step-1" class="blue"></li>
            <li id="step-2" class="blue" ></li>
            <li id="step-3" class='blue' ></li>
            <li id="step-4" [ngClass]="{'blue':true}" ></li>
            <li id="step-5" class="" ></li>
            <li id="step-6"></li>
        </ul>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0"aria-valuemax="100"></div>
        </div>
    </div>
</div>
<div style="margin-top: 50px ;">

    <img src="https://source.unsplash.com/random/1920x1080" alt="bg images" style="height: fit-content; width: 100% ;">
</div>